*{
	margin: 0%;
	padding: 0%;
	font-family: sans-serif;
}

body{
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;


 
  
}

li {
  float: left;

}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  margin-left: -10%;

}

li a:hover {
  background-color: white;
}

.art{
  background: rgba(250, 250, 250, 0.95);

  padding-right: 0%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 10%;
 }
.genre {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px 2em;
      margin-left: 15%;
      margin-top: 3%;

}




.container {
      display: flex;
      justify-content: center;
}
